
body{
    font-family: 'Roboto';
    margin: auto;
    width: 1460px;
    background-color: #171717;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}


/*=============== CHANGE THEME ===============  */

.header-theme{
    color: #083f7d;
}

.change-theme-icon{
    display: flex;
    font-size: 40px;
    cursor: pointer;
}

body.light-theme{
    background: linear-gradient(90deg,  #a4b47e,  #6cc7e0);
}

.light-theme .btn{
    background: #0A0909;
}

.light-theme .underground-item-1 {
 background-color: #0E0E0E;   
}

.light-theme .underground-item-2 {
    background-color: #220e0e;   
}
.light-theme .underground-item-3 {
background-color: #200325;   
}
v

.light-theme .underground-item-4 {
background-color: #24090d;   
}

.light-theme .underground-item-5 {
background-color: #0b0220;   
}



/* =============== END CHANGE THEME =============== */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 100px;
}

.button-call{
    background-color: #171717;
    border: 1px solid #E4B564;
    border-radius: 3px;
    width: 220px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.call-back{
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;

}

.section-underground, .section-parcking{
    color: #FFFFFF;
    margin-bottom: 160px;
}

.section-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.subtitle{
    font-weight: 700;
    line-height: 28px;
    width: 1180px;
    font-size: 20px;
    margin-bottom: 40px;

}

.wrapper-underground{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(220px, auto));
    gap: 28px 30px;
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5"
    "item4 item4 item4 item5 item5 item5"
    ;

    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 160px;

    background-image: url(../img/underground.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

}

.wrapper-underground > li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 20px;
    padding-left: 0;
    opacity: 80%;
    transform-style: inherit
}

.btn{
    border-radius: 10px;
}

.underground-item-1{
    background-color: #634F2C;
    grid-area: item1;  
}

.underground-item-2{
    background-color: #B4A385;
    grid-area: item2;
}

.underground-item-3{
    background-color: #E4B564;
    grid-area: item3;
}

.underground-item-4{
    background-color: #635A4A;
    grid-area: item4;
}

.underground-item-5{
    background-color: #B08C4D;
    grid-area: item5;
}

.wrapper-parcking{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, minmax(100px, auto));
    grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item1 item1 item2 item2 item3 item3"
    "item5 item5 item2 item2 item4 item4"
    "item5 item5 item6 item6 item4 item4"
    "item5 item5 item6 item6 item7 item7"
    "item5 item5 item6 item6 item7 item7"
    ;

    gap: 26px 30px;

    background-image: url(../img/parcking.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    padding: 10px;
}

.wrapper-parcking > li{
    display: inline;
    align-items: flex-start;
    justify-content: start;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    padding-left: 0;
    padding-left: 52px;
    padding-top: 40px;
    
    opacity: 90%;
}
.parcking-item-1{
    background-color: #0E0E0E;
    grid-area: item1;
    padding-right: 125px;
    flex-wrap: wrap;
}

.parcking-item-2{
    background-color: #242424;
    padding-right: 115px;
    flex-wrap: wrap;
    grid-area: item2;
}

.parcking-item-3{
    background-color: #1F1F1F;
    grid-area: item3;
}

.parcking-item-4{
    background-color: #0E0E0E;
    grid-area: item4;
}

.parcking-item-5{
    background-color: #1F1F1F;
    grid-area: item5;
}

.parcking-item-6{
    background-color: #E4B564;
    grid-area: item6;
    color: #000000;
}

.parcking-item-7{
    background-color: #0A0909;
    grid-area: item7;
    font-weight: 700;

}

.section-company{
    padding-bottom: 100px;
}

.company-case{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-button{
    border: 1px solid #E4B564;
    border-radius: 3px;
    background-color: #171717;
    color: #E4B564;
    width: 180px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link-projects{
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

}

.wrapper-company{
    display: grid;
    grid-template-columns: repeat(3, minmax(470px, auto));
    grid-template-rows: repeat(2, minmax(390px, auto));
    gap: 10px 10px;
    
    background-image: url(../img/partners.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 10px;
}

.wrapper-company > li{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    opacity: 90%;
}

.company-item-1{
    background-color: #634F2C;
}

.company-item-2{
    background-color: #E8D2ABC2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.company-item-3{
    background-color: #E4B564;
}

.company-item-4{
    background-color: #635A4A;
}

.company-item-5{
    background-color: #B08C4D;
}

.company-item-6{
    background-color: #634F2C;
}

